body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: coolText;
    src: url(alt-font.ttf);
}

.title-group-left {
    background-color: black;
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 33.33%;
    transform: translateY(-50%);
    padding-right: 50%;
}

.odin-title {
    font-size: 75px;
    color: rgb(244, 231, 231);
    font-family: coolText;
}

img[src="odin-logo.png"] {
    width: 100px;
    height: 100px;
}

.left-side {
    background-image: url("jag.jpg");
    background-size: cover;
    width: 40vw;
    height: 100vh;
    min-width: 300px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 700px;
}

.create-button {
    border-radius: 4px;
    padding: 10px 50px;
    background-color: rgb(246, 110, 72);
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px none black;
}

.data-input {
    display: flex;
    gap: 100px;
}

.user-info-form {
    margin: 10px;
}

.create-button:active {
    opacity: 50%;
}

.existing-user {
    margin-left: 20px;
}

a[href="example.html"] {
    text-decoration: none;
    color: rgb(246, 110, 72);
    font-weight: bold;
}